

/* ======================== HEADER BAR ALIGNMENT ======================= */
#main-container {
  justify-content: center;
  padding: 1.2rem !important;
}
.search-bar,
.compare-bar {
  display: flex;
  align-items:center;
  justify-content: center;
  margin-bottom: 0.5rem;
  gap: 10px;
}

#site-dropdown .Select-control, #comparison-dropdown .Select-control{
  width: 200px;
}
/* Hide columns when inactive */
.hidden {
  display: none !important;
}

#header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap: nowrap;
  gap: 0.3rem;
}
#header-switch {
  display: flex;
  align-items: center;
}

#logo {
  height: 100%;
  width: 100%;
}

#site-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#site-logo img {
  height: 10%;
  width: 10%;
  object-fit: scale-down;
  
}

#policy-links {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 15px springgreen;
}

#category-title{
  display:flex;
  align-items: center;
  
}

#classification-title {
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.bi {
  font-size: 1.7rem;
  margin-left: 20px;
  margin-bottom: 5px;
}

#footer{
  display:flex;
  font-size: small;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
/* ================= Colors accordion buttons ================== */
#Good.accordion-item .accordion-button:not(.collapsed), #Good.accordion-item .accordion-button:hover {
  background-color: var(--bs-success) !important;
  color:white;
  font-weight: bold;
}
#Tolerable.accordion-item .accordion-button:not(.collapsed), #Tolerable.accordion-item .accordion-button:hover {
  background-color: var(--bs-dark) !important;
  color:white;
  font-weight: bold;
}
#Bad.accordion-item .accordion-button:not(.collapsed), #Bad.accordion-item .accordion-button:hover {
  background-color: var(--bs-warning) !important;
  color:white;
  font-weight: bold;
}
#Abysmal.accordion-item .accordion-button:not(.collapsed), #Abysmal.accordion-item .accordion-button:hover {
  background-color: var(--bs-danger) !important;
  color:white;
  font-weight: bold;
}

#success.accordion-item .accordion-button:not(.collapsed), #success.accordion-item .accordion-button:hover {
  background-color: var(--bs-success) !important;
  color:white;
  font-weight: bold;
}

#warning.accordion-item .accordion-button:not(.collapsed), #warning.accordion-item .accordion-button:hover {
  background-color: var(--bs-warning) !important;
  color:white;
  font-weight: bold;
}
#danger.accordion-item .accordion-button:not(.collapsed), #danger.accordion-item .accordion-button:hover {
  background-color: var(--bs-danger) !important;
  color:white;
  font-weight: bold;
}
/* ========================= RESPONSIVE ==================================== */
@media (max-width: 880px) {
  #header {
    flex-direction: column;
    align-items: center;
  }

  #header-switch{
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  #site-dropdown .Select-control, #comparison-dropdown .Select-control{
  width: 375px;
}

  #logo {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  
  #logo {width: 100%;}
  #site-dropdown .Select-control, #comparison-dropdown .Select-control{
  width: 240px;
}
#footer{
  display:flex;
  font-size: xx-small;
  align-items: center;
  justify-content: space-between;
}
  #search-gauge-column,
  #comparison-gauge-column {
    width: 100% !important;
  }
  #main-container {
  justify-content: center;
  padding: 1.2rem !important;
}
}




